<div class="d-flex justify-content-end" data-controller="confirm-dialog">
  <%= button_tag "OK？", 
      type: "button", 
      class: "btn btn-sm btn-outline-info me-2", 
      data: { 
        confirm_dialog_target: "button",
        action: "click->confirm-dialog#show",
        confirm_dialog_message_value: "良いですか？"
      } %>
  <%= link_to "編集", 
      edit_prompt_path(prompt), 
      class: "btn btn-sm btn-outline-secondary me-2" %>
  <%= link_to "削除", 
      prompt_path(prompt), 
      data: { 
        turbo_method: :delete, 
        turbo_confirm: "本当に削除しますか？" 
      }, 
      class: "btn btn-sm btn-outline-danger" %>
</div> 