<div class="container mt-3">
  <% flash.each do |type, message| %>
    <% bootstrap_class = case type
       when 'notice' then 'success'
       when 'alert' then 'danger'
       else type
       end %>
    <div class="alert alert-<%= bootstrap_class %> alert-dismissible fade show" role="alert">
      <%= message %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>
</div>